/* img{
  width: 400px;
  height: 400px;
} */
.details{
  /* width: 35%; */
  margin-left: 100px;
  margin-top: 100px;
  height: 400px;
  display: flex;
  width: 90%;
  flex-wrap: nowrap;
}
.details p {
  margin: 40px;
}
img{
  height: 80%;
  border-radius: 20px;
}
