<div class="welcome" fxLayout="row"  fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section routerLink="/training/sideLunges">
    <mat-card class="card1" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Side Lunges</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://images.pexels.com/photos/2417512/pexels-photo-2417512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      <mat-card-content>
        <p>Stay active and enjoy better health and more fun!</p>
      </mat-card-content>
    </mat-card>

  </section>
  <section routerLink="/training/touchToes">
    <mat-card class="card1" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Touch Toes</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://images.pexels.com/photos/6453516/pexels-photo-6453516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      <mat-card-content>
        <p>Stay active and enjoy better health and more fun!</p>
      </mat-card-content>
    </mat-card>

  </section>
  <section routerLink="/training/burpees">
    <mat-card class="card1" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Burpees</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://images.pexels.com/photos/7670115/pexels-photo-7670115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      <mat-card-content>
        <p>Stay active and enjoy better health and more fun!</p>
      </mat-card-content>
    </mat-card>

  </section>
  <section routerLink="/training/crunches">
    <mat-card class="card1" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Crunches</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://images.pexels.com/photos/6455815/pexels-photo-6455815.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      <mat-card-content>
        <p>Stay active and enjoy better health and more fun!</p>
      </mat-card-content>
    </mat-card>

  </section>
  <!-- <section>
    <h1>COMMUNITY</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <h1>CHALLENGES</h1>
    <p>Never stop! Dive into new challenges every day</p>
  </section> -->
</div>
